* {
    box-sizing: border-box;
}


body {
    min-width: 320px;
    
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 27px;
    /* font-family: 'Maven Pro', sans-serif; */
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-style: normal;
    background-color: #fff;
    background: url("../img/retina_wood.png") ;
  }

a {
    text-decoration: none;
    color: #000;
   }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.visually-hidden:not(:focus):not(:active) {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden; }

/************************************/
/*********     header   **********/
/************************************/


.page-header {
    top: 0;
    margin-left: 0;
    width: 100%;
    height: 8vh;
    
    background-color: #3661A2;
    box-shadow: 0px 1px 5px 0px #3b3b3b;
    margin-bottom: 3px;
    position: fixed;
    z-index: 999;
}

.page-header__wrapper {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px; 
    
    
    display: flex;
    
    justify-content: space-around;
    border-bottom: 2px solid transparent;  
}

.page-header__logo-wrapper {
    height: 8vh;
    
    font-size: 24px;
    
    z-index: 100;
    line-height: 24px;
    
    font-weight: bold;
    color: #fff;
    text-align: center;
    cursor: pointer;

    display: flex;
    align-items: center;
    flex-grow: 1;
}
.logo1 {
    width: 70px;
    height: 51px;
    background: url("../img/logo.png");
    background-size: cover;
    
}

.logo2 {
    margin-left: 5px;
    width: 206px;
    height: 27px;
    background: url("../img/logo2.png");
    background-size: cover;
    
}

.page-header__nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    position: relative;
}
.page-header__nav-item {
    line-height: 8vh;
    font-size: 22px;
    color: #fff;
    

    cursor: pointer;
    padding: 0 20px;
    display: block;
   
    transition:  transform ease 0.3s; 
    position: relative;  
}

.active::before{
    content: "";
    position: absolute;
    left: -15px;
    top: 39%;
    
    width: 28px;
    height: 20px;
    background: url("../img/logo.png");
    background-size: cover;
}

.page-header__nav-item:nth-child(1):hover {   
    transform: translateX(-5px);   
}
.page-header__nav-item:nth-child(2):hover  {  
    transform: translateX(-5px);  
}
.page-header__nav-item:nth-child(3):hover  {  
    transform: translateX(-5px);   
}

.contacts-block {
    position: absolute;
    visibility: hidden;
    text-align: center;
    padding-top:9px;
    height: 40px;
    width: 350px;
    font-size: 18px;
    margin-top: 7px;
    margin-left: -255px;
    line-height: 18px;
    color: #fff;
    background-color: #3661A2;
    border-radius: 3px;
    box-shadow: 0 0 5px 1px rgb(163, 161, 161);
    
    opacity: 0;
    transition: opacity ease 1s;  
}
.page-header__nav-item:hover .contacts-block {
    visibility: visible;
    opacity: 1;
}

@media(max-width:768px){

    .contacts-block {
        display: none;
    }
    .page-header {
        
        /* height: 8vh; */
        height:85px;
    }
    .page-header__wrapper { 
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .page-header__logo-wrapper {
        padding-left: 0;
        
        height:85px;
        cursor: pointer;
    }

    .page-header__nav-wrapper {
        display: none;
        
    }  
}
/************************************/
/*********     portfolio   **********/
/************************************/
.page-main__wrapper {
    margin: 50px auto; 
    margin-bottom: 0;
    padding: 20px 20px;
    max-width: 1200px;   
}

.page-main__portfolio-item {
    padding: 20px 0;
    margin-top: 20px;
   
    width: 100%;
    background: rgba(255,255,255, 1);
    box-shadow: 0 0 5px 0px #8a8888;

    display: flex;
    
    align-items: flex-start;
    justify-content: space-around;
}

.site-item__image {
    position: relative;
    flex-basis: 30%;
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    margin: 20px;
    
    background: url("../img/desktop.webp") no-repeat;
    background-size: contain;
}
.site-item__image-pc {
    top: 0;
    left: 0;
    width: 93%;
    height: 60%;
    
    margin-top: 10px;
    margin-left: 10px;
    
    position: absolute;
    
    background: url("../img/port-logo-pc.png") no-repeat 50% 50%;
    background-size:  cover;
}

.site-item__image-pc2 {
    top: 0;
    left: 0;
    width: 93%;
    height:60%;
    
    margin-top: 10px;
    margin-left: 10px;

    position: absolute;
    
    background: url("../img/port-logo-pc2.png") no-repeat 50% 50%;
    background-size:  cover;
}

.site-item__text-wrapper {
    
    flex-basis: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
}

.site-item__button{
    margin-top: 20px;
    width: 200px;
    text-align: center;
    padding: 8px;
    color: #fff;
    background-color: #3661A2;
    border: none;
    border-radius: 3px;
    cursor: pointer; 
    transition: box-shadow 0.2s;
}

.site-item__button:hover {
    box-shadow: 0 0 10px 0px #706e6e;
}

@media(max-width:768px) {
    .page-main__wrapper {
        padding: 10px 0;
    }
    .page-main__portfolio-item {
        flex-wrap: wrap;  
    }

    .site-item__text-wrapper {
        flex-basis: 80%; 
        align-items: center;
        
    }
}
/************************************/
/*********     main-page   **********/
/************************************/

.page-main {
    width: 100%;  
}

.button-slide-down { 
    top: 75%;
    margin-left: 90%;
    
    
    color: #fff;
    background-color: #3661A2;
    border-radius: 1px;
    box-shadow: 0 0 3px 0px #888686;
    cursor: pointer; 
    transition: box-shadow 0.2s;
    padding: 20px;
    
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    animation: bounce 2s infinite 2s; 
}
@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      
      transform: translateY(0);
    }
    40% {
      
      transform: translateY(-10px);
    }
    60% {
      
      transform: translateY(-5px);
    }
  }

.button-slide-down-block{ 
    margin: 0 auto;
    width:18px;
    height: 13px;
    background: url("../img/angle.png") no-repeat; 
}

.button-slide-down:hover { 
    box-shadow: 0 0 4px 1px #3a3939;
}

.intro-wrapper {  
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px; 
    
     
    position: relative;
}

.page-main__intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.intro__left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 28%;
    
    background-color: #fff;
    box-shadow: 0 0 5px 0px #8a8888;
 
}

.intro__left-title {
    text-align: center;
}

.intro__left-avatar {
    
    width: 180px;
    height: 180px;
   
    border-radius: 50%;
    background: url("../img/photo.jpg") no-repeat 30% 30%;
    background-size: cover;
    box-shadow: 0 1px 8px 0px rgb(63, 61, 61) inset;
    
}



.intro__left-content-wrapper {
    text-align: center;
    width: 90%;
}

.intro__left-content {
    
    text-indent: 5%;
    text-align: center;
    line-height: 27px;
    
}




/* .intro__left-contacts {
    width: 170px;
    text-align: center;
    padding: 2px;
    color: #fff;
    background-color: #3661A2;
    
    border-radius: 3px;
    cursor: pointer; 
    transition: box-shadow 0.2s;
    display: none;
} */

.intro__left-contacts--item {
    display: none;
    
}
.display {
    display: block;
    
}
.intro__left-contacts:hover { 
    box-shadow: 0 0 8px 1px #888686;
}



.intro__right {
    flex-basis: 71%;
    background-color: #fff;
    box-shadow: 0 0 5px 0px #8a8888;
    
    
}

.intro__right-hello {
    font-weight: bold;
}
.intro__right-content {
    text-align: left;
    padding:20px 20px; 
    
    
    line-height: 28px;
      
}



.intro__right2 {
    margin-top: 20px;
    padding-bottom: 30px;
    
    flex-basis: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px 0px #8a8888;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
}

.intro__right2-image {
    height: 200px;
    width: auto;
    background: url("../img/workspace.jpg") no-repeat 90% 50%;
    background-size: cover;
    box-shadow: 0 -1px 4px 0px #616161 inset;
}
.intro__right2-content {
    text-align: left;
    padding-top: 20px; 
    padding-left: 40px;
    
    line-height: 27px;
    position: relative;
}

.intro__right2-content p::before {
    content: "";
    position: absolute;
    left: 22px;
    margin-top: 10px;
    
    
    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: #3661A2;
}

@media(max-width:768px){
    .intro-wrapper {
        padding: 0;
        width: 100%;
    }
    .button-slide-down, .button-slide-down-block {
        visibility: hidden;
    }
    .page-main__intro {
        margin-top:0;
        flex-direction: column;  
    }
    .intro__left {
        width: 100%;
        display: flex;
        flex-direction: row; 
        justify-content: space-around;  
    }
    .intro__left-avatar {
        margin:20px;
        width:80px;
        height: 80px;         
    }
    .intro__left-title, 
    .intro__left-content {
        display: none;
    }

    .intro__left-content-wrapper {
        display: none;
    }

    .intro__left-contacts--item {
        display: flex;
        text-align: center;
        padding: 4px 20px;
        color: #fff;
        background-color: #3661A2;
       
        border-radius: 3px;
        cursor: pointer; 
        transition: box-shadow 0.2s;
        
        
    }


    .intro__right {
        margin-top: 0px;
        background-color: #fff;
        box-shadow: none;
        border-top: 2px solid #eaeaea;

    }
    

    .intro__right-content {
        text-align: center;
        margin: 0 auto;
      
    }

    
    .intro__right2 {
        margin-top: 0px;
        padding-bottom: 30px;

        background-color: #fff;
        box-shadow: 0 0 5px 0px rgb(219, 214, 214);
      
        }
    .intro__right2-image {
        height: 100px;
        width: auto;
        background: url("../img/workspace.jpg") no-repeat 90% 70%;
        background-size: cover;
        box-shadow: 0 -1px 4px 0px #616161 inset;
    }
    .intro__right2-content {
        text-align: left;
        padding-top: 5px; 
        padding-left: 30px;
        
        line-height: 24px;
        position: relative;
    }
    .intro__right2-content p::before {
        left: 12px;
        margin-top: 8px;

        width: 8px;
        height: 8px; 
    }
}


/************************************/
/*********    footer  **********/
/************************************/

.page-footer{
    margin-top: 20px;
    width: 100%;
    background-color: #3661A2;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px 2px rgb(83, 81, 81);
}

.page-footer__wrapper {
    margin: 0 auto; 
    width: 60%;

    display: flex;
    justify-content: space-between;
}

@media(max-width:768px){
    .page-footer__wrapper {
        width: 90%;
    }
}




  